.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.form {
    background-color: var(--bgSoft);
    padding: 50px;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.form input {
    padding: 30px;
    border: 4px solid #2e374a;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
}

.form button {
    padding: 30px;
    background-color: teal;
    color: var(--text);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  